.timeline {
    list-style: none;
    padding-left: 0;
    position: relative;
    font-size: 0.875rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    width: 80%;
    transition: transform 0.3s ease;
}

.timeline:hover {
    transform: translateY(-5px);
}

.timeline-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-box {
    background-color: rgba(193, 193, 205, 0.345);
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    margin-left: 40px;
    color: white;
}


.timeline-start,
.timeline-end {
    width: 160px;
    position: absolute;
    text-align: center;
    top: 10px;
}

.timeline-end {
    margin-right: 25px;
}

.timeline-middle svg {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
    margin-bottom: 30px;
    background-color: white;
    margin-left: 15px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #2a50cf;
    transform: translateX(-50%);
    z-index: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: #3490dc;
}

.bg-primary {
    background-color: #3490dc;
}


.timeline li {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.timeline li:last-child {
    margin-bottom: 0;
}

.timeline li:nth-child(odd) .timeline-start {
    left: -190px;
}

.timeline li:nth-child(even) .timeline-end {
    right: -190px;
}

.timeline li:nth-child(even) .timeline-start {
    right: -165px;
}

.completed-status {
    color: blue;
}

.progress-status {
    color: red;
}

.not-started-status {
    color: gray;
}

.gray {
    color: rgb(225, 224, 224);
}

.blue {
    color: #2a50cf;
}

.lightblue {
    color: #a8b5de;
}

.bg-gray {
    background-color: rgb(225, 224, 224);
}

.bg-blue {
    background-color: #2a50cf;
}

.bg-lightblue {
    background-color: #a8b5de;
}

.timeline-gray::before {
    background-color: lightgrey;
}

.timeline-lightblue::before {
    background-color: #a8b5de;
}

.timeline-blue::before {
    background-color: #2a50cf;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-text {
    margin-bottom: 0.25rem;
    color: white;
}