.inner-sidebar {
    background-color: #2a50cf;
    color: #aaabf4;
    border: none;
    border-radius: 15px;
    margin: 1.25rem 0.95rem 0.95rem 0.95rem;
    padding: 10px;
    max-height: 90vh;
    position: fixed;
    transition: transform 0.3s ease;
    top: 50px;
}

.inner-sidebar:hover {
    transform: translateY(-5px);
}

.sidebar-header {
    cursor: default;
    margin-bottom: 10px;
    color: white;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sidebar-icons {
    position: relative;
    top: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.sidebar-label {
    margin-bottom: 8px;
    margin-left: 15px;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
}

.sidebar-label:hover {
    color: white;
}

.active-label {
    color: white;
}

.sidebar-input {
    display: none;
}

.search-box {
    border: none;
    border-radius: 8px;
    padding: 10px 0px 10px 5px;
    margin-bottom: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
}

.search-box::placeholder {
    color: #aaabf4;
}

.hamburger-icon {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    font-size: 1.5rem;
    color: white;
    background-color: #2a50cf;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

/* Responsive for tablet and mobile */
@media (max-width: 1024px) {
    .inner-sidebar {
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        width: 150px;
        height: 100vh;
        z-index: 1000;
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }

    .inner-sidebar.open {
        transform: translateX(0);
    }

    .hamburger-icon {
        display: block;
    }

    .sidebar-icons {
        display: none;
    }

    .sidebar-content {
        margin-top: 60px;
    }

    .search-box {
        width: 105%;
    }
}